<div>
  <h2>{{ header }}</h2>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class = "divInput">
      <label for="">ID : </label>
      <br>
        <input type="text" [ngModel]="employee.id === 0? getNewMax() :employee.id" name="id">
      <br>
    </div>

    <div class = "divInput">
      <label for="">Name</label>
      <br>
        <input type="text" [ngModel]="employee.name" name="name">
      <br>
    </div>

    <div class = "divInput">
      <label for="">Email</label>
      <br>
        <input type="text" [ngModel]="employee.email" name="email">
      <br>
    </div>

    <div class = "divInput">
      <label for="">Phone</label>
      <br>
        <input type="text" [ngModel]="employee.phone" name="phone">
      <br>
    </div>

    <div class = "divInput">
      <label for="">BirthDay</label>
      <br>
        <input type="text" [ngModel]="employee.birth" name="birth">
      <br>
    </div>

    <div class = "divInput">
      <label for="">Code</label>
      <br>
        <input type="text" [ngModel]="employee.code" name="code">
      <br>
    </div>

    <div class = "divInput">
      <label for="">Image</label>
      <br>
        <input type="text" [ngModel]="employee.image" name="image">
      <br>
    </div>

    <div  class = "divInput">
      <button type="submit">
        Save
      </button>
    </div>
  </form>
</div>
