<div>
  <h2>List of employees</h2>
  <a routerLink="employee/add/0">Add employee</a>
  <table>
    <thead>
      <th>id</th>
      <th>name</th>
      <th>email</th>
      <th>phone</th>
      <th>func</th>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.phone }}</td>
        <td><a [routerLink]="['employee/edit', employee.id]">Edit</a></td>
        <td><button (click)="onDelete(employee.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
